header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #0f2454;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.logo{
  width: 60px;
  height: 60px;
}